<form action="/add_animal" method="post">
  <div class="form-group">
 <label for="name">Animal Name</label>
 <input id="name" name="name" class="form-control" type="text">
 <label for="gender">Gender</label>
 <input id="gender" name="gender" class="form-control" type="text">
 <label for="type">Type</label>
 <input id="type" name="type" class="form-control" type="text">
 <label for="breed">Breed</label>
 <input id="breed" name="breed" class="form-control" type="text">
 <label for="date_added">Date Added</label>
 <input id="date_added" name="date_added" class="form-control" type="text">
</div>
<button type="submit" name="button">Add Animal</button>
</form>
